*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
}

body{
    background:#f39c12;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    background:#fff;
    width:95%;
    max-width:1200px;
    padding:40px;
    border-radius:15px;
    animation:fadeIn 1s ease-in-out;
}

/* Header */
header{
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
}

.logo{
    font-weight:900;
    color:#f39c12;
    font-size:24px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin:0 15px;
}

nav a{
    text-decoration:none;
    color:#777;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#f39c12;
}

/* Section title */
.section-title{
    text-align:center;
    margin-bottom:30px;
    color:#333;
    font-size:28px;
}

/* Pricing layout */
.pricing{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

/* Cards */
.card{
    border:2px solid #f39c12;
    transform:scale(1.05);
    flex:1;
    min-width:250px;
    padding:30px;
    border-radius:15px;
    /*border:1px solid #eee;*/
    text-align:center;
    transition:0.4s ease;
    background:#fff;
}

/* Hover effect */
.card:hover{
    transform:translateY(-10px) scale(1.03);
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* Featured card */
.featured{
    border:2px solid #f39c12;
    transform:scale(1.05);
}

/* Price */
.price{
    font-size:32px;
    font-weight:900;
    margin:15px 0;
}

.price span{
    font-size:14px;
    color:#777;
}

.year{
    color:#888;
    margin-bottom:15px;
}

/* List */
ul{
    list-style:none;
    margin:20px 0;
}

li{
    padding:8px 0;
    color:#555;
}

/* Button animation */
/* Button style */
.btn{
    display:inline-block;
    padding:10px 20px;
    border-radius:20px;
    background:#333;
    color:#fff;
    text-decoration:none;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    background:#f39c12;
    transform:scale(1.1);
}

.featured .btn{
    background:#333;
    color:#fff;
}

/* Fade animation */
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Responsive */
@media(max-width:768px){
    .pricing{
        flex-direction:column;
        align-items:center;
    }
}